# Backend Environment Variables
# Copy this file to .env and fill in your actual Jira credentials

# Jira Configuration
JIRA_EMAIL=preimphot@lmwn.com
JIRA_API_TOKEN=ATATT3xFfGF0tbqQ-xKAdIXjyjEGupw2MD4iH9who8pOzPRegtH8rKpiUm6AKSNYM_dz4isnLFdZ6I5HUieMsm_msFb7eb55AcKlem_CXVpFTj_QAife2Kpprgo3MJlx2K5tA006UUZiTq831jDV2VEHwZR87UCVgXxvuRTNQHUEkJ9xkJQ-sLs=F7E1BBC5
JIRA_BASE_URL=https://linemanwongnai.atlassian.net

# Server Configuration
PORT=3000
NODE_ENV=development
